<div class="flex flex-auto h-full">
  <div class="flex flex-auto flex-col h-full p-2 md:max-w-24">
    <!-- Header -->
    <div class="font-semibold truncate animate-fade-right animate-duration-300">
      {{ 'common.title' | transloco }}
    </div>

    <p-divider class="animate-fade-right animate-duration-300" />

    <!-- Modules navigation -->
    <div class="flex flex-auto flex-col h-full space-y-1.5 md:max-w-24">
      @for (item of items; track $index) {
      <layout-vertical-naviagation-module-item
        [label]="item.label | transloco"
        [icon]="item.icon"
      ></layout-vertical-naviagation-module-item>
      }
    </div>

    <!-- Footer -->
    <div class="flex flex-auto flex-col space-y-1.5 md:max-w-24">
      <layout-user class="animate-fade-right animate-duration-300"></layout-user>

      <p-divider class="animate-fade-right animate-duration-300" />

      <layout-vertical-naviagation-module-item
        [label]="'logout' | transloco"
        icon="pi pi-sign-out"
        (click)="logOut()"
      ></layout-vertical-naviagation-module-item>
    </div>
  </div>
  <div class="flex flex-auto flex-col border-r border-neutral-200 dark:border-neutral-800"></div>
</div>
