<p-drawer
  [(visible)]="isOpen"
  [position]="'right'"
  [modal]="true"
  [showCloseIcon]="true"
  (onHide)="onClose()"
  id="navigation-detail-drawer"
  styleClass="!w-full md:!w-96 lg:!w-[48rem]"
>
  <ng-template #header>
    <h3 class="text-xl font-semibold m-0">
      {{ drawerTitle() }}
    </h3>
  </ng-template>

  <div class="h-full">
    @if (isLoading()) {
    <div class="flex items-center justify-center h-32">
      <i class="pi pi-spin pi-spinner text-2xl"></i>
      <p class="ml-2">{{ 'navigationManagement.tree.loading' | transloco }}</p>
    </div>
    } @else {
    <app-navigation-editor
      [item]="item()"
      [mode]="mode()"
      [defaultScope]="defaultScope()"
      [defaultModule]="defaultModule()"
      [availableModules]="availableModules"
      [availableParents]="availableParents()"
      (formValid)="onFormValidChange($event)"
      (formData)="onFormDataChange($event)"
    />
    }
  </div>

  <ng-template #footer>
    <div class="flex justify-end gap-2">
      <p-button
        id="navigation-detail-cancel-button"
        type="button"
        [label]="'navigationManagement.editor.buttons.cancel' | transloco"
        severity="secondary"
        [outlined]="true"
        (onClick)="onClose()"
        [attr.aria-label]="'navigationManagement.editor.buttons.cancel' | transloco"
      />
      @if (mode() === 'view') {
      <p-button
        id="navigation-detail-edit-button"
        type="button"
        [label]="'navigationManagement.editor.buttons.edit' | transloco"
        icon="pi pi-pencil"
        (onClick)="onEdit()"
        [attr.aria-label]="'navigationManagement.editor.buttons.edit' | transloco"
      />
      }
      @if (mode() !== 'view') {
      <p-button
        id="navigation-detail-save-button"
        type="button"
        [label]="'navigationManagement.editor.buttons.save' | transloco"
        severity="primary"
        [loading]="isSaving()"
        [disabled]="!isFormValid() || isSaving()"
        (onClick)="onSubmit()"
        [attr.aria-label]="'navigationManagement.editor.buttons.save' | transloco"
      />
      }
    </div>
  </ng-template>
</p-drawer>
