<div
  id="language-selector-container"
  class="w-full"
  [class.p-2]="showLabel()"
  [class.p-1]="!showLabel()"
  [class.flex]="!showLabel()"
  [class.justify-center]="!showLabel()"
>
  @if (showLabel()) {
  <label
    for="language-selector-dropdown"
    class="block text-xs font-medium text-surface-600 dark:text-surface-400 mb-1"
  >
    {{ 'languageSelector.label' | transloco }}
  </label>
  }
  <p-select
    id="language-selector-dropdown"
    [options]="languages"
    [(ngModel)]="selectedLanguage"
    optionLabel="label"
    optionValue="code"
    [placeholder]="''"
    class="w-full"
    [attr.aria-label]="'languageSelector.ariaLabel' | transloco"
  >
    <ng-template let-lang #item>
      <div
        class="flex items-center justify-center"
        [attr.id]="'language-selector-option-' + lang.code"
      >
        <img
          [src]="getFlagUrl(lang.flagCode)"
          [alt]="lang.label + ' flag'"
          class="w-6 h-6"
          aria-hidden="true"
        />
        @if (showLabel()) {
        <span class="font-medium ml-2 truncate">{{ lang.label }}</span>
        }
      </div>
    </ng-template>

    <ng-template let-lang #selectedItem>
      <div
        class="flex items-center justify-start"
        id="language-selector-selected"
        [class.w-6]="!showLabel()"
      >
        <img
          [src]="getFlagUrl(lang.flagCode)"
          [alt]="lang.label + ' flag'"
          [class.w-5]="showLabel()"
          [class.h-5]="showLabel()"
          [class.w-6]="!showLabel()"
          [class.h-6]="!showLabel()"
          class="rounded-full"
          aria-hidden="true"
        />
        @if (showLabel()) {
        <span class="font-medium text-sm ml-2 truncate">{{ lang.label }}</span>
        }
      </div>
    </ng-template>

    <ng-template #dropdownicon>
      @if (showLabel()) {
      <i class="pi pi-chevron-down" aria-hidden="true"></i>
      }
    </ng-template>
  </p-select>
</div>
