<div id="language-selector-container" class="w-full" [class.p-2]="showLabel()" [class.p-1]="!showLabel()" [class.flex]="!showLabel()" [class.justify-center]="!showLabel()">
  @if (showLabel()) {
  <label
    for="language-selector-dropdown"
    class="block text-xs font-medium text-surface-600 dark:text-surface-400 mb-1"
  >
    {{ 'languageSelector.label' | transloco }}
  </label>
  }
  <p-select
    id="language-selector-dropdown"
    [options]="languages"
    [(ngModel)]="selectedLanguage"
    optionLabel="label"
    optionValue="code"
    [placeholder]="''"
    [styleClass]="showLabel() ? 'w-full' : ''"
    [attr.aria-label]="'languageSelector.ariaLabel' | transloco"
  >
    <ng-template let-lang pTemplate="item">
      <div class="flex items-center py-1 justify-center" [attr.id]="'language-selector-option-' + lang.code">
        <img
          [src]="getFlagUrl(lang.flagCode)"
          [alt]="lang.label + ' flag'"
          class="w-6 h-6 rounded"
          aria-hidden="true"
        />
        @if (showLabel()) {
        <span class="font-medium ml-2">{{ lang.label }}</span>
        }
      </div>
    </ng-template>

    <ng-template let-lang pTemplate="selectedItem">
      <div class="flex items-center justify-center" id="language-selector-selected">
        <img
          [src]="getFlagUrl(lang.flagCode)"
          [alt]="lang.label + ' flag'"
          [class.w-5]="showLabel()"
          [class.h-5]="showLabel()"
          [class.w-6]="!showLabel()"
          [class.h-6]="!showLabel()"
          class="rounded"
          aria-hidden="true"
        />
        @if (showLabel()) {
        <span class="font-medium text-sm ml-2">{{ lang.label }}</span>
        }
      </div>
    </ng-template>
  </p-select>
</div>
