<div class="relative w-full h-full">
  <div
    #mapContainer
    id="draw-map-container"
    class="w-full h-full"
    role="application"
    aria-label="Interactive map for drawing province boundaries"
  ></div>
  
  <!-- Base Map Switcher -->
  <div class="absolute top-2 right-2 z-1000">
    <p-selectbutton
      [(ngModel)]="currentBaseMap"
      [options]="baseMapOptions"
      (onChange)="switchBaseMap(currentBaseMap())"
      optionLabel="label"
      optionValue="value"
      id="draw-map-base-selector"
      aria-label="Select base map type"
    >
      <ng-template #item let-option>
        <i [class]="option.icon"></i>
        <span class="ml-2">{{ option.label }}</span>
      </ng-template>
    </p-selectbutton>
  </div>
  
  @if (editable()) {
  <div class="absolute bottom-4 left-4 z-1000">
    <p-button
      id="draw-map-clear-button"
      [label]="'provinceForm.drawMap.clear' | transloco"
      icon="pi pi-trash"
      severity="danger"
      (onClick)="clearDrawing()"
      size="small"
      [attr.aria-label]="'provinceForm.drawMap.clear' | transloco"
    />
  </div>
  }
</div>
