/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import 'tailwindcss-primeui';

@import 'primeicons/primeicons.css';

.nav-panel .p-panelmenu-header-link,
.nav-panel .p-panelmenu-item-link {
  width: 100%;
}

.nav-panel--narrow .p-panelmenu-header-label,
.nav-panel--narrow .p-panelmenu-item-label {
  display: none;
}

.nav-item--active {
  font-weight: 600;
}
