<div
  class="flex items-center md:items-start gap-3 px-2 py-2 select-none"
  id="user-profile-container"
>
  @if(!user){
  <p-skeleton shape="square" size="2rem" id="user-profile-skeleton" />
  } @else {
  <div class="flex items-center md:items-start gap-2 lg:flex-col lg:gap-1" id="user-profile-info">
    @if(user.avatarUrl){
    <p-avatar
      pRipple
      [pTooltip]="user.fullName"
      tooltipPosition="right"
      [image]="user.avatarUrl"
      size="normal"
      shape="circle"
      class="animate-fadein"
      [attr.id]="'user-profile-avatar-image'"
    />
    } @else {
    <p-avatar
      pRipple
      [pTooltip]="user.fullName"
      tooltipPosition="right"
      [label]="user.fullName.charAt(0)"
      size="normal"
      shape="circle"
      class="animate-fadein"
      [attr.id]="'user-profile-avatar-initials'"
    />
    }
    <div class="flex flex-col lg:hidden" id="user-profile-details">
      <span
        class="text-sm font-semibold text-surface-900 dark:text-surface-0"
        id="user-profile-name"
        >{{ user.fullName }}</span
      >
      <span class="text-xs text-surface-600 dark:text-surface-400" id="user-profile-email">{{
        user.email
      }}</span>
    </div>
  </div>
  }
</div>
